# Description of Data Files

## DGPs, true ATE etc.


Load the prepocessed data frame which connects the DGP to the settings (different names and details like this) and the true average treatment effects.

In [4]:
import pandas as pd

dgps = pd.read_csv('DGPs_preprocessed.csv', sep=',', na_values=".")
dgps.head()

,Renamed,Original,Scenario,DS#,Random seed,filename,DGPid,trueATE
0,high1,CHDScenario3DS86,NaN,3,0.337781,high1,3,-0.80000
1,high10,CHDScenario15DS13,NaN,15,0.218848,high10,15,-0.16058
2,high100,CHDScenario3DS72,NaN,3,0.130252,high100,3,-0.80000
3,high1000,CHDScenario1DS50,50.0,1,0.425784,high1000,1,0.20000
4,high1001,CHDScenario15DS20,NaN,15,0.307721,high1001,15,-0.16058

Select the DGP with ID `42` - that's the one we use in the case study.

In [10]:
dgps.loc[dgps.Renamed == 'high42']

,Renamed,Original,Scenario,DS#,Random seed,filename,DGPid,trueATE
957,high42,CHDScenario2DS24,124.0,2,0.752854,high42,2,0.8